.body {
    padding-top: 50px;
    background-color: #f2f2f2;
}

.clear {
    clear: both;
}

#header {

}

.to-top {
    margin-top: -3.25em;
}

.woocommerce-cart-form__cart-item td a,
.woocommerce-cart-form__cart-item td a span,
.woocommerce-cart-form__cart-item td a span span {
    color: #555;
}

.wc_payment_methods .wc_payment_method {
    list-style-type: none;
}

.block-single-product .wrapper {
    background-color: #ffffff;
}

.block-single-product .content-wrapper .product-content {
    background-color: #f2f2f2;
}

.block-single-product .content-wrapper .product-content .product-image .product-image-background {
    transition: .2s;
}

.block-single-product .content-wrapper .product-content .product-image .product-image-background:hover {
    opacity: .9;
}

.block-single-product .content-wrapper .product-content .product-image .product-image-background {
    background-color: #2651a8;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.block-single-product .content-wrapper .product-content .product-image .product-image-background .product-title {
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    top: 43%;
    left: 39%;
}

.archive-products .page-title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.btn {
    background-color: #2651a8;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    padding: 10px 5px;
    border-radius: 3px;
}

.block-single-product .product-content {
    width: 100%;
    min-height: 350px;
    height: 100%;
    white-space: nowrap;
    display: table;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.block-single-product .product-content .product-image,
.block-single-product .product-content .product-info {
    display: table-cell;
    margin: 0;
    width: 50%;
    white-space: normal;
    vertical-align: middle;
}

.block-single-product .product-content .product-info {
    padding: 10px 10px;
}

.block-single-product .product-content .product-image .product-image-wrapper,
.block-single-product .product-content .product-info .product-info-wrapper {
    width: 100%;
}

.block-single-product .product-content .product-image {
    background-position: center;
    background-size: cover;
}

.block-single-product .product-content .price {
    color: #2651a8;
    font-weight: 600;
    font-size: 25px;
    text-align: right;
    width: 100%;
    display: block;
    padding: 10px 20px;
}

.block-single-product .product-content .btn.add-to-cart {
    color: #ffffff;
    margin: 0 auto;
    font-weight: 600;
    width: 100%;
    display: block;
    text-decoration: none;
    transition: .2s;
}

.block-single-product .product-content .btn.add-to-cart:hover {
    background-color: #4167b5;
}

.block-single-product .product-content .add-to-cart-wrapper {
    text-align: center;
    width: 100%;
    padding: 10px 5px;
    border-radius: 3px;
}

.block-single-product .product-content .price span {
    color: #929292;
    font-weight: 500;
    font-size: 20px;
    text-decoration: line-through;
}

.block-single-product .product-content .product-info .main-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
}

.block-single-product .product-content .product-info hr {
    margin: 1rem;
}

.block-single-product .product-content .product-info .description {
    font-size: 20px;
    width: 100%;
    color: #929292;
    font-weight: 500;
    padding: 20px 10px;
}

.selected-products .product,
.archive-products .product {
    height: 658px;
}

.archive-products {
    display: table;
    margin: 50px 0;
}

.archive-products .archive-products-filter,
.archive-products .wrapper {
    display: table-cell;
    padding: 0 20px;
}

.archive-products .archive-products-filter {
    width: 20%;
    padding: 0 20px;
}

.archive-products-filter-in {
    padding: 20px 10px;
    background-color: #e2e2e2;
    height: 75vh;
}

.archive-products-filter .filter-title {
    color: #2651a8;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.archive-products-filter .filter-title:before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #2651a8;
}

.archive-products-filter .filter-categories .filter-category,
.archive-products-filter .filter-categories .filter-sub-category{
    color: #000000;
    font-weight: 600;
    display: block;
    text-decoration: none;
    transition: .2s;
}

.archive-products-filter .filter-categories .filter-sub-category {
    padding-left: 10px;
}

.archive-products-filter .filter-categories .filter-category:hover,
.archive-products-filter .filter-categories .filter-sub-category:hover,
.archive-products-filter .filter-categories .filter-category.active,
.archive-products-filter .filter-categories .filter-sub-category.active{
    color: #2651a8;
}

.product .product-top {
    display: block;
}

.product .product-top .product-title {
    display: inline-block;
    width: 50%;
    float: left;
    color: #2651a8;
    font-weight: 600;
    font-size: 26px;
}

.product .product-top .product-price {
    display: inline-block;
    float: right;
    color: #2651a8;
    font-weight: 600;
    font-size: 26px;
}

.product .product-top .product-price span {
    color: lightgray;
    font-size: 16px;
    text-decoration: line-through;
    padding: 0 5px;
    vertical-align: text-top;
    line-height: 0.2;
}

.product.sale-item .sale-item-bar {
    position: absolute;
    right: -45px;
    top: 32px;
    padding: 10px 5px;
    width: 200px;
    background-color: #f00f00;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    transform: rotate(45deg);
    text-align: center;
    z-index: 1;
}

.product.sale-item {
    overflow: hidden;
}

.product.sale-item .product-price {
    color: #f00f00;
}