body.loading {
    overflow: hidden !important;
}

body.loading .loader-div {
    display: block !important;
}

.loader-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 1000000000;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body.loading-inline .loader-div {
    background: transparent !important;
}

.loader-div .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    margin: 2px;
    border: 2px solid #2651a8;
    border-bottom-color: transparent !important;
    /*border-top-color: transparent !important;*/
    height: 30px;
    width: 30px;
    margin-left: -15px;
    background: 0 0 !important;
    -webkit-animation: rotateloader 1000ms 0s linear infinite;
    -ms-animation: rotateloader 1000ms 0s linear infinite;
    animation: rotateloader 1000ms 0s linear infinite;
    margin-top: -20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

@-webkit-keyframes rotateloader{0%{-webkit-transform:rotate(0);transform:rotate(0)}50%{-webkit-transform:rotate(180deg);transform:rotate(180deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
@-ms-keyframes rotateloader{0%{-ms-transform:rotate(0);transform:rotate(0)}50%{-ms-transform:rotate(180deg);transform:rotate(180deg)}100%{-ms-transform:rotate(360deg);transform:rotate(360deg)}}
@keyframes rotateloader{0%{-webkit-transform:rotate(0);transform:rotate(0)}50%{-webkit-transform:rotate(180deg);transform:rotate(180deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}