// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.mb-50 {
    margin-bottom: 50px;
}

.mb-25 {
    margin-bottom: 25px;
}

button {
    background: none;
    border: none;
    color: inherit;
}

.button {
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
    color: #fff;
    display: inline-block;
    text-decoration: none;
    -webkit-text-size-adjust: none;
}

.button a {
    color: #fff;
}

.button-blue,
.button-primary {
    background-color: #3490dc;
    border-top: 10px solid #3490dc;
    border-right: 18px solid #3490dc;
    border-bottom: 10px solid #3490dc;
    border-left: 18px solid #3490dc;
}

.button-green,
.button-success {
    background-color: #38c172;
    border-top: 10px solid #38c172;
    border-right: 18px solid #38c172;
    border-bottom: 10px solid #38c172;
    border-left: 18px solid #38c172;
}

.button-red,
.button-error {
    background-color: #e3342f;
    border-top: 10px solid #e3342f;
    border-right: 18px solid #e3342f;
    border-bottom: 10px solid #e3342f;
    border-left: 18px solid #e3342f;
}

.card {
    .card-header {
        .days-left {
            float: right;
        }
    }
}

.conversation {
    position: relative;
    width: 100%;
    margin-bottom: 25px;

    .conversation-message {
        margin-bottom: 20px;
        width: 100%;
        float: left;


        .conversation-message-container {
            background-color: #c2e3ff;
            border-radius: 8px;
            width: 45%;
        }

        &.to-right {
            .conversation-message-container {
                float: right;
                background-color: #69c0de;
            }
        }

        .conversation-message-in {
            padding: 5px 10px;

            .conversation-message-top {
                font-size: 12px;
                font-weight: 700;

                span {
                    float: right;
                }
            }

            p {
                margin: 0;
            }
        }
    }
}

.conversation-form {
    .alert {
        p {
            margin: 0;
        }
    }

    textarea {
        border: 1px solid #a0c7cc;
        border-radius: 8px;
        width: 100%;
        background-color: #ebfdff;
        padding: 5px;
    }
}

.clear {
    clear: both;
}
